{
    "machdep": "gcc_x86_64",
    "compilation_cmd": "-I. -Isodium -I../src/libsodium/include -I../src/libsodium/include/sodium -I../test/quirks -D__TIS_MKFS_PREALLOCATE -Dvolatile= -DHAVE_GETRANDOM -DCONFIGURED -DNO_BLOCKING_RANDOM_POLL -UHAVE_EXPLICIT_BZERO -UHAVE_INLINE_ASM -DHAVE_ALIGNED_MALLOC"
}
