[
    {
        "name": "box_easy - gcc_x86_64",
        "include": "trustinsoft/gcc_x86_64.config",
        "include": "trustinsoft/common.config",
        "files": [
            "test/default/box_easy.c"
        ]
    },
    {
        "name": "box_easy2 - gcc_x86_64",
        "include": "trustinsoft/gcc_x86_64.config",
        "include": "trustinsoft/common.config",
        "files": [
            "test/default/box_easy2.c"
        ]
    },
    {
        "name": "box_seal - gcc_x86_64",
        "include": "trustinsoft/gcc_x86_64.config",
        "include": "trustinsoft/common.config",
        "files": [
            "test/default/box_seal.c"
        ]
    },
    {
        "name": "secretbox_easy - gcc_x86_64",
        "include": "trustinsoft/gcc_x86_64.config",
        "include": "trustinsoft/common.config",
        "files": [
            "test/default/secretbox_easy.c"
        ]
    },
    {
        "name": "secretbox_easy2 - gcc_x86_64",
        "include": "trustinsoft/gcc_x86_64.config",
        "include": "trustinsoft/common.config",
        "files": [
            "test/default/secretbox_easy2.c"
        ]
    }
]